{{#if userInSession}}
  <h2>Bienvenido nakama!!</h2>
  <p>Este es tu perfil: {{userInSession.username}}</p>
  <img src="https://thumbs.gfycat.com/NextDampBittern-max-1mb.gif" alt="" />
  <button>
    <a href="/userprofile">Recargar página</a>
  </button>
{{else}}

  <br /><p>Disculpa, debes iniciar sesion!</p>

{{/if}}