{{#if userInSession}}
  <h2>Bienvenido Nakama {{userInSession.username}}!!</h2>
  <img
    class="img-wellcome"
    src="https://thumbs.gfycat.com/NextDampBittern-max-1mb.gif"
    alt=""
  />

  <button>
    <a href="/users">List of Users</a>
  </button>
{{else}}

  <br /><p>Disculpa, debes iniciar sesion!</p>

{{/if}}