{{#if userInSession}}
  <h2>Bienvenido Nakama {{userInSession.username}}!!</h2>
  <img
    class="img-wellcome"
    src="https://thumbs.gfycat.com/NextDampBittern-max-1mb.gif"
    alt=""
  />
  <div class="nav flex-column nav-pills">
    <a href="/users">List of Users</a><br />
    <a href="/users/my-anime-list">MY ANIME LIST</a>
  </div>

{{else}}

  <br /><p>Disculpa, debes iniciar sesion!</p>

{{/if}}