<h1>{{appTitle}} 🚀</h1>

<a href="http://localhost:3000/characters">VER LISTADO CHARACTERS</a>
<br>
<br>
<a href="http://localhost:3000/anime/">VER LISTADO ANIME</a>

 <h1>Buscador de anime</h1>
    <form id="formulario-busqueda">
      <label for="consulta-busqueda">Introduce tu consulta de búsqueda:</label>
      <input type="text" id="consulta-busqueda" name="q">
      <button type="submit">Buscar</button>
    </form>
    <div id="results-search"></div>

<body>

 <script src="app.js"></script>   
</body>
</html>
